/*
  CSS File
*/

/*
 VARIABLES
*/
:root {}

/*Edit of whole web app*/
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: url("portals.jpg");
}

.page {
  min-width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  resize: none;

}

/*flex title edits*/
.TODO-title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-right: 00px;
  border-radius: 1rem;

}

/*input for todo*/
.enter-todo {
  display: flex;
  background-color: white;
  justify-content: left;
  margin: 0 500px 0 500px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px #808080;
}

/*todo list*/
.your-todo {
  display: flex;
  background-color: white;
  flex-direction: column;
  margin: 10px 500px 0 500px;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 2px 2px 4px #808080;
  gap: 5px;
}

/*input css*/
input {
  padding: 5px;
  border: none;
  flex-direction: row;
}

/*submit button (plus icon)*/
.submit {
  margin-left: 250px;
  padding: 0 15px 0 15px;
  box-shadow: 1px 1px 6px #808080;
  cursor: pointer;
}

.submit:hover {
  background-color: #dad7cd;
}

.submit:active {
  background-color: #a3b18a;
}

/*clear all button*/
.clear-all {
  border: none;
  box-shadow: 1px 1px 6px #808080;
  cursor: pointer;
}

.clear-all:hover {
  background-color: #dad7cd;
}

.clear-all:active {
  background-color: #a3b18a;
}

/*header*/
h1 {
  font-weight: 500;
  font-size: 35px;
  border-radius: 1rem;
  margin: 25px;
  padding: 8px;
  background-color: white;
}

/*paragraph*/
p {
  font-size: 20px;
}

button {
  border: none;
  margin: 10px;
  box-shadow: 1px 1px 6px #808080;
}

li {
  list-style-type: circle;
}

/*
  Screen reader text utility class
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
